/* used in:
        - content/shop/shop_vwtg.php */
#verwaltungsraster {
    margin-left: auto;
    margin-right: auto;
}

#verwaltungselement {
    border: 2px solid black;
    padding: 12px;
    padding-bottom: 18px;
    margin-bottom: 22px;
}

#verwaltungselementbezeichnung {
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #90E0EF;
    color: #03045E;
    border: 1px solid #0353A4;
}

#verwaltungselement #verwaltungselementinhalt {
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

#verwaltungselement table {
    border: 1px solid black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#verwaltungselement table tr {
    display: block;
}

#verwaltungselement table td {
    padding: 5px;
    padding-left: 15px;
    text-align: center;
}

#verwaltungselement #verwaltungselementinhalt select {
    min-width: 50px;
}

#verwaltungselement table select {
    min-width: 217.6px;
}

#speichern {
    margin-left: 41%;
    margin-right: 29%;
    width: 20%;
    padding: 7px 10px;
}

#text {
    width: auto;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
}

@media screen and (max-width:1710px) {
    #verwaltungselement table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #verwaltungselement table td {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    
    #speichern {
        margin-left: 40%;
        margin-right: 40%;
        width: 20%;
    }
}

@media screen and (max-width:700px) {
    #speichern {
        margin-left: 33%;
        margin-right: 37%;
        width: 30%;
    }
}

@media screen and (max-width:500px) {
    #speichern {
        margin-left: 26%;
        margin-right: 24%;
        width: 50%;
    }
}