/* used in:
        - content/shop/shop_ubst_fltr.php */

div.filterbox{
    display: inline-block;
    width: 220px;
    margin: 0 25px;
}

p#filter_überschrift{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}

p#filter_min_wert, p#filter_max_wert{
    margin: 0 0 5px;
}

p#filter_min_wert{
    float: left;
}

p#filter_max_wert{
   float: right;
}

div#preis_value, div#länge_value{
    text-align: center;
    margin-top: 5px;
}


input[type=range]{
    display: block;
    width: 200px;
}

.slider {
    float: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #0353A4;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb:active {
    width: 23px;
    height: 23px;
  }
  
  .slider::-moz-range-thumb {
    width: 18x;
    height: 18px;
    border-radius: 50%;
    background: #0353A4;
    cursor: pointer;
  }

  .slider::-moz-range-thumb:active {
    width: 20px;
    height: 20px;
  }