/* General Style */ 

* {
	margin: 0;
	padding: 0;
}

/*
color palette:
https://coolors.co/03045e-0353a4-0077b6-00b4d8-90e0ef
*/


/* Kopfbereich */


#kopfbereich {
	background: #0353A4; /* Old browsers */
	background: -moz-linear-gradient(top,  #0353A4 0%, #00B4D8 100%); /* FF */
	background: -webkit-linear-gradient(top,  #0353A4 0%,#00B4D8 100%); /* Chrome */
	height: 120px;
	vertical-align: middle;
	text-align: center;
}

#kopfbereich_links {
	float: left;
}

h1#logoheader {
	vertical-align: bottom;
	margin-bottom: 20px;
	display: inline-block;
	font-family: Papyrus;
	font-size: 50px;
	font-weight: bold;
	color: whitesmoke;

}

#kopfbereich_ueberschrift {
	margin: 45px auto auto 70px;
    font-size: 34px;
    font-weight: normal;
    color: rgb(255, 255, 255);
	float: left;
}

#kopfbereich_rechts {
	float: right;
}

/* menübereich */

#menübereich {
	height: 50px;
	vertical-align: middle;
	text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
	z-index: 1;
}

#date_time {
	color: #000000;
    font-weight: bold;
    font-size: 20px;
	margin-right: 20px;
}

#menübereich nav {
	border-radius: 0px;
}

#menü {
	background-color: #9898f1b3;
	color: black;
}

#active {
	background-color: #90E0EF;
	color: black;
}

#active:hover {
	background-color: #90E0EF;
	color: black;
}

#trenner {
	display: none;
}

#trenner_revers {
	display: block;
}

/* Hauptbereich */

#content_bereich {
	height: auto;
	width: 100%;
    background-color: #ffffff;
	overflow: hidden;
	padding: 20px 45px;
	position: relative;
}

#content {
	color: black;
	font-size: 16px;
	font-family: Arial;
}

#content article h2 {
	margin-top: -20px;
}

/* Anmeldung */

#anmeldung_formular {
	text-align: center;
	font-family: Arial;
}

#anmeldung_fieldset {
    border: 2px solid black;
}

#anmeldung_legend {
	display: block;
	width: 15%;
	padding: 0;
	border: 2px solid black;
	background-color: #D0CCCC;
	padding: 2.5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

#anmeldung_formular table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#anmeldung_formular table tr {
	text-align: center;
	display: block;
}

#anmeldung_formular table td {
	text-align: center;
	display: block;
	padding: 5px;
}

#anmeldung_formular table td input {
	text-align: center;
}

#anmeldung_formular table td .submit_login {
	margin-top: 10px;
	padding: 1.5% 15%;
}

#response {
	text-align: center;
	color: black;
	margin-top: 20px;
}

#response .alert {
	padding: 10px;
	margin-bottom: 10px;
}

/* Footer */

#footer {
	background-color: #0077B6;
	height: 40px;
	width: 100%;
	vertical-align: middle;
	text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
	display: block;
	position: fixed;
	bottom: 0px;
}

#footer ul {
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	padding-left: 0%;
	height: 40px;
}

#footer ul li {
	display: inline;
	font-size: 0.85em;
	line-height: 2.8em;
	color: white;
	padding: 0em 0.625em 0em 0.625em;
}

#footer ul li a {
	color: white;
}

#abstand {
	margin-left: 5%;
}

/* responsive Webdesign */
@media screen and (max-width:1300px) {
	#anmeldung_legend {
		width: 30%;
	}
	
	#date_time{
		display: none;
	}

	#kopfbereich_ueberschrift{
		display: none;
	}
}

@media screen and (max-width:900px) {
	#content_bereich {
		margin:0px;
	}

	#content{
		margin-right:auto;
		margin-left:-20px;
	}
}

@media screen and (max-width:768px) {
	#content_bereich {
		min-height: 813px;
	}
	
	#footer {
		position: relative;
		bottom: auto;
		width: auto;
	}
}

@media screen and (max-width:620px) {
	#kopfbereich {
		height: 80%;
	}
	
	#kopfbereich_links{
		float: unset;
	}

	h1#logoheader {
		display: block;
		font-size: 30px;
	}

	#headerpicture {
		height: 75%;
		width: 75%;
	}
	
	#trenner {
		display: block;
	}
	
	#trenner_revers {
		display: none;
	}
	
	#content_bereich {
		padding: 20px 35px;
	}

	#content article h2 {
		margin-top: -20px;
	}
	
	#anmeldung_legend {
		width: 50%
	}

	#footer {
		height: auto;
		vertical-align: middle;
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		font-size: 15px;
		display: block;
	}

	#footer ul {
		display: block;
		text-align: center;
		margin: 0px auto;
		width: 100%;
		padding-left: 0px;
		height: auto;
	}

	#footer ul li {
		display: block;
		font-size: 0.85em;
		line-height: 2.8em;
		color: white;
		padding: 0em 0.625em 0em 0.625em;
	}

	#footer ul li a {
		color: white;
	}
	
	#abstand {
		margin-left: 0px;
	}
}

@media screen and (max-width:360px) {
	#anmeldung_legend {
		width: 60%;
	}
}