/* used in:
        - content/rgst/rgst.php */

div#registrierung{
    width: 700px;
}

@media screen and (max-width:768px) {
    div#registrierung{
        width: 100%;
    }
}

div#registrierungs_regeln{
    margin: 20px 0; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 20px;
}