<head> 
	<!-- Hier werden die notwendigen Javascript sowie CSS Files eingebunden -->
	<!-- META-DATA -->
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="language" content="deutsch, de">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css"/>
	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script src="js/bootstrap/bootstrap.js"> </script>
	<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
	
	<!-- SELF-WRITTEN CSS-FILES -->
	<link rel="stylesheet" type="text/css" href="css/style_layout.css"/>
	<link rel="stylesheet" type="text/css" href="css/snowflakes.css"/>
	
	<!-- SELF-WRITTEN JS-FILES -->	
	<script src="js/uhrzeit.js"> </script>
	<script src="js/datum.js"> </script>
	<script src="js/kalenderwoche.js"> </script>
	
	<!-- TITLE -->
	<title> Snowboard-Webshop </title>
</head>