/* used in:
        - content/footer/dtns.php
        - content/footer/impr.php
        - content/footer/kont.php */

        #bewertungsraster {
            margin-left: auto;
            margin-right: auto;
        }
        
        #bewertungsaspekt {
            border: 2px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        #aspekt_bezeichnung {
            text-align: center;
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }
        
        #bewertungsaspekt #prioritaet {
            border: 1px solid black;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 8px;
        }
        
        #bewertungsaspekt table {
            border: 1px solid black;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        
        #bewertungsaspekt table tr {
            display: block;
        }
        
        #bewertungsaspekt table td {
            padding: 5px;
            padding-left: 15px;
            text-align: center;
            width: auto;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        
        #bewertungsaspekt #prioritaet select {
            min-width: 50px;
        }
        
        #bewertungsaspekt table select {
            min-width: 217.6px;
        }
        
        #speichern {
            margin-left: 41%;
            margin-right: 29%;
            width: 20%;
            padding: 7px 10px;
        }
        
        #checkbox {
            width: 18px;
            height: 18px;
            margin-top: 6px;
            margin-right: 10px;
        }
        
        #text {
            width: auto;
            height: 30px;
            text-align: center;
            padding: 5px 10px;
        }
        
        #text2 {
            width: 80px;
            height: 30px;
            text-align: center;
            padding: 5px 10px;
        }
        
        #nummer {
            width: 65px;
            height: 30px;
            text-align: center;
            padding: 5px 10px;
        }
         
        @media screen and (max-width:1269px) {
            #bewertungsaspekt table {
                width: 100%;
            }		
        }
        
        @media screen and (max-width:1105px) {
            #bewertungsaspekt table {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            
            #bewertungsaspekt table td {
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            
            #speichern {
                margin-left: 40%;
                margin-right: 40%;
                width: 20%;
            }
        }
        
        @media screen and (max-width:700px) {
            #speichern {
                margin-left: 33%;
                margin-right: 37%;
                width: 30%;
            }
        }
        
        @media screen and (max-width:500px) {
            #speichern {
                margin-left: 26%;
                margin-right: 24%;
                width: 50%;
            }
        }